<!--amazing-offers-->
		<section class="amezing-offers new-block">
			<div class="overlay"></div>
			<div class="fixed-bg parallax" style="background: url('images/bg1.png');"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="img-holder">
							<img src="images/pz1.png" alt="" class="img-responsive">		
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="text-block-stl1">
							<div class="title">
								<p class="top-h">amazing offers online</p>
								<h2>50% off pizzas online</h2>
								<p class="bottom-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus sit amet ullamcorper.</p>
								<a href="#" class="btn1 stl2">buy now</a>
								<a href="#" class="btn1 stl1">about more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>