<!--20181010: color pick-->
		<div class="theme-menu hide-sidebar">
			<h2>Choose your color</h2>
			<div id="style-switcher">
				<ul class="colors theme-btn">
					<li data-path="css/colors.css" data-url="images"> 
						<p class="btn clr-style" style="background:#c10a28;"></p>
					</li>
					<li data-path="css/colors2.css" data-url="images/clr2">
						<p class="btn clr-style" style="background:#f1b601;"></p>
					</li>
					<li data-path="css/colors3.css" data-url="images/clr3">
						<p class="btn clr-style" style="background:#0a84c1;"></p>
					</li>
					<li data-path="css/colors4.css" data-url="images/clr4"> 
						<p class="btn clr-style" style="background:#02a8aa;"></p>
					</li>
					<li data-path="css/colors5.css" data-url="images/clr5">
						<p class="btn clr-style" style="background:#db780d;"></p>
					</li>
					<li data-path="css/colors6.css" data-url="images/clr6">
						<p class="btn clr-style" style="background:#e54c04;"></p>
					</li>
				</ul>
			</div>
			<button class="btn btn-clr"><i class="fas fa-paint-brush"></i></button>
		</div>