<!--combo-packs-->

			<section class="spl-offer new-block">
			<div class="container-fluid c-grid">
				<div class="row">
					<div class="grid1">
						<div class="block-stl3 stl1">
							<div class="fixed-bg" style="background: url('images/img6.jpg');"></div>
							<div class="img-holder">
								<img src="images/img6.png" alt="" class="img-responsive">
							</div>
							<div class="offer-block">
								<p class="top-h">combo pack offer</p>
								<h2>want something real & juicy ?</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus.</p>
								<a href="shopping_cart.html" class="btn3">shop now</a>

							</div>
						</div>
						<div class="c-grid2">
							<div class="col1">
								<div class="block-stl3 stl3">
									<div class="img-holder">
										<img src="images/img7.png" alt="" class="img-responsive">
									</div>
									<div class="offer-block">
										<h2>new arrivals</h2>
										<p>Lorem ipsum dolor sit amconsetur adipiscing elit. Integer</p>
										<a href="shopping_cart.html" class="btn3">shop now</a>

									</div>
								</div>
							</div>
							<div class="col2">
								<div class="block-stl3 bg9 stl4">
									<div class="img-holder">
										<img src="images/img8.png" alt="" class="img-responsive">
									</div>
									<div class="offer-block">
										<h2>hot chicken</h2>
										<p>An to our fun day.Lorem ipsum dolor sit aadipiscing elit</p>
										<a href="shopping_cart.html" class="btn3">shop now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid2">
						<div class="block-stl3 stl2">
							<div class="fixed-bg" style="background: url('images/img9.jpg');"></div>
							<div class="img-holder">
								<img src="images/img9.png" alt="" class="img-responsive">
							</div>
							<div class="offer-block">
								<p class="top-h">sunday offer</p>
								<h2>wowooo combo pack special offer</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare.</p>
								<a href="shopping_cart.html" class="btn3">shop now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>