<!--20181010: Deal of the day-->
		<section class="deal-of-day new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title">
							<p class="top-h">winter special offer</p>
							<h2>deal of the day</h2>
							<div class="btm-style"><span><img src="images/btm-style.png" alt="" class="img-responsive"></span></div>
							<p class="bottom-p">Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>Curabitur erat turpis posuere ac ante at</p>
						</div>
					</div>
					<div class="col-lg-12 text-center">
						<div id="ofr_end"></div>
					</div>
					<div class="col-lg-12">
						<div class="item-slider2 owl-carousel owl-theme">
							<div class="item">
								<div class="block-stl2">
				    				<div class="img-holder">
				    					<img src="images/img3.png" alt="" class="img-responsive">
				    				</div>
				    				<div class="text-block">
				    					<h3>Veggie Supreme</h3>
				    					<p class="sz">Size : Regular</p>
				    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
				    				</div>
			    					<div class="btn-sec">
			    						<a href="product_single.html" class="btn4">About More</a>
			    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
		    						</div>
				    				<span class="nonveg veg-nonveg"></span>
				    			</div>
							</div>
							<div class="item">
								<div class="block-stl2">
				    				<div class="img-holder">
				    					<img src="images/img4.png" alt="" class="img-responsive">
				    				</div>
				    				<div class="text-block">
				    					<h3>Veggie Supreme</h3>
				    					<p class="sz">Size : Regular</p>
				    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
				    				</div>
				    				<div class="btn-sec">
			    						<a href="product_single.html" class="btn4">About More</a>
			    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
		    						</div>
				    				<span class="veg veg-nonveg"></span>
				    			</div>
							</div>
							<div class="item">
								<div class="block-stl2">
				    				<div class="img-holder">
				    					<img src="images/img5.png" alt="" class="img-responsive">
				    				</div>
				    				<div class="text-block">
				    					<h3>Veggie Supreme</h3>
				    					<p class="sz">Size : Regular</p>
				    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
				    				</div>
				    				<div class="btn-sec">
			    						<a href="product_single.html" class="btn4">About More</a>
			    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
		    						</div>
				    				<span class="nonveg veg-nonveg"></span>
				    			</div>
							</div>
							<div class="item">
								<div class="block-stl2">
				    				<div class="img-holder">
				    					<img src="images/img.png" alt="" class="img-responsive">
				    				</div>
				    				<div class="text-block">
				    					<h3>Veggie Supreme</h3>
				    					<p class="sz">Size : Regular</p>
				    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
				    				</div>
				    				<div class="btn-sec">
			    						<a href="product_single.html" class="btn4">About More</a>
			    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
		    						</div>
				    				<span class="nonveg veg-nonveg"></span>
				    			</div>
							</div>
							<div class="item">
								<div class="block-stl2">
				    				<div class="img-holder">
				    					<img src="images/img5.png" alt="" class="img-responsive">
				    				</div>
				    				<div class="text-block">
				    					<h3>Veggie Supreme</h3>
				    					<p class="sz">Size : Regular</p>
				    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
				    				</div>
				    				<div class="btn-sec">
			    						<a href="product_single.html" class="btn4">About More</a>
			    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
		    						</div>
				    				<span class="veg veg-nonveg"></span>
				    			</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>