	<!-- include jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- bootstrap -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- slick slider  -->
	<script src="js/slick.js"></script>
	<!-- dscountdown  -->
	<script src="js/dscountdown.min.js"></script>
    <!-- jquery.nice-select -->
    <script src="js/jquery.nice-select.js"></script>
    <!-- magnific-popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Mixitup -->
    <script src="js/mixitup.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script>
	<script src="js/map.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
