<!--special-offers 20181010-->
		<section class="special-offers-sec new-block">
			<div class="special-offer-inr-block new-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="title">
								<p class="top-h">Especial del día</p>
								<h2>ofertas para la estación festiva</h2>
								<div class="btm-style"><span><img src="images/btm-style.png" alt="" class="img-responsive"></span></div>
							</div>
						</div>
						<div class="col-lg-12 pd0">
							<div class="special-offer-block ol_flr new-block">
								<div class="ol_flr">
									<div class="nav btn-filter-wrap">
										<button id="js-filter-0" class="filterer btn"><span>Pollo</span></button>
									    <button id="js-filter-1" class="filterer btn"><span>Carne</span></button>
									    <button id="js-filter-2" class="filterer btn"><span>Popular en Capparelli</span></button>
									    <button id="js-filter-3" class="filterer btn"><span>Vegetales</span></button>
									    <button id="js-filter-4" class="filterer btn"><span>4 Quesos</span></button>
									</div>
									<div class="clearfix"></div>
									<div class="slider-flr" id="filter_itm1">
							    		<div class="js-filter-chicken">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Vegetariana Suprema</h3>
							    					<p class="sz">Tamaño : Regular</p>
							    					<p class="price"><span>$190.00</span> <del>$230.00 20% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Saber más</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-chicken">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img1.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Pollo Imperial</h3>
							    					<p class="sz">Tamaño : Regular</p>
							    					<p class="price"><span>$192.00</span> <del>$230.00 20% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles...</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-meats">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img2.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Carne ensueño</h3>
							    					<p class="sz">Tamaño : Regular</p>
							    					<p class="price"><span>$192.00</span> <del>$230.00 20% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-populars">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img3.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Super popular</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192.00</span> <del>$230.00 20% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>

							    		<div class="js-filter-chicken">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img4.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Pollo y salsa</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-veggie">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img5.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Para celíacos</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-chicken">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img3.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Nugget dream</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-chicken">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Suprema total</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-burgers">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img5.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>De vaca vaca</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-populars">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img1.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Gallo jefe</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-chicken">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Con huevo</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-burgers">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img3.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Panceta Rey</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-meats">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Hamburguer Pizza</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-meats">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img1.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Jamón y Queso</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    		<div class="js-filter-meats">
							    			<div class="block-stl2">
							    				<div class="img-holder">
							    					<img src="images/img.png" alt="" class="img-responsive">
							    				</div>
							    				<div class="text-block">
							    					<h3>Pizza Cordero</h3>
							    					<p class="sz">Tamaño : Familiar</p>
							    					<p class="price"><span>$192</span> <del>$8.00 40% off</del></p>
							    				</div>
							    				<div class="btn-sec">
						    						<a href="product_single" class="btn4">Detalles</a>
						    						<a href="shopping_cart.html" class="btn1 stl2">Agregar al pedido</a>
					    						</div>
							    			</div>
							    		</div>
							    	</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
