<!--20181010 this-blog moved to partial-->
		<section class="this-month new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title">
							<p class="top-h">winter special offer</p>
							<h2>deal of the day</h2>
							<div class="btm-style"><span><img src="images/btm-style.png" alt="" class="img-responsive"></span></div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img3.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="nonveg veg-nonveg"></span>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="nonveg veg-nonveg"></span>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img2.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="veg veg-nonveg"></span>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img4.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="nonveg veg-nonveg"></span>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img5.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="veg veg-nonveg"></span>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="nonveg veg-nonveg"></span>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img2.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="veg veg-nonveg"></span>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="block-stl2">
		    				<div class="img-holder">
		    					<img src="images/img1.png" alt="" class="img-responsive">
		    				</div>
		    				<div class="text-block">
		    					<h3>Veggie Supreme</h3>
		    					<p class="sz">Size : Regular</p>
		    					<p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
		    				</div>
		    				<div class="btn-sec">
	    						<a href="product_single.html" class="btn4">About More</a>
	    						<a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
							</div>
		    				<span class="veg veg-nonveg"></span>
		    			</div>
		    		</div>
				</div>
			</div>
		</section>