{{$tel:= "095 344 842"}}
{{ partial "header2" . }} 
<body>
	<div class="loader_wrapper">
        <div class="loader">
			<img src="images/loader.gif" alt="" class="img-fluid">
        </div>
    </div>
    <!--// loader_wrapper -->

	<div id="wrapper">
		<header class="new-block main-header">
			<div class="main-nav new-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="logo">
								<a href="home.html"><img src="images/pizza-capparelli-4.png" alt="logo" class="img-responsive"></a>
							</div>
							<div class="location-block">
								<p>Montevideo</p>
								<span>{{$tel}}</span>
							</div>
							<a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
							<nav class="nav">
								<ul class="list-unstyled">
									<li class="drop active"><a href="#">Inicio</a>
										<ul class="drop-down">
											<li><a href="home.html">Home1</a></li>
											<li><a href="home2.html">Home2</a></li>
										</ul>
									</li>
									<!--
									<li class="drop"><a href="#">Menu</a>
										<ul class="drop-down">
											<li><a href="menu.html">Menu</a></li>
											<li><a href="menu2.html">Menu2</a></li>
										</ul>
									</li>
									<li class="drop"><a href="#">Pages</a>
										<ul class="drop-down">
											<li><a href="menu.html">Menu</a></li>
											<li><a href="menu2.html">Menu2</a></li>
											<li><a href="about_us.html">About</a></li>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog_left.html">Blog left</a></li>
											<li><a href="blog_right.html">Blog right</a></li>
											<li><a href="blog_single.html">Single blog</a></li>
											<li><a href="contact.html">Contact us</a></li>
											<li><a href="product_single.html">Product single</a></li>
											<li><a href="shopping_cart.html">Cart page</a></li>
										</ul>
									</li>
								-->
									<li><a href="#">Tu Pedido</a></li>
									<li><a href="#">Nuestro local</a></li>
									<!--
									<li><a href="about_us.html">About</a></li>
									<li class="drop"><a href="#">Blog</a>
										<ul class="drop-down">
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog_left.html">Blog left</a></li>
											<li><a href="blog_right.html">Blog right</a></li>
											<li><a href="blog_single.html">Single blog</a></li>
										</ul>
									</li>
								-->
									<li><a href="#">Quienes Somos</a></li>
									<li><a href="/contact">Contacto</a></li>
								<!--	<li><a href="#">Login/Signup</a></li>-->
								</ul>
							</nav>
						<!--
							<div class="nav-right-block">
								<ul class="list-unstyled">
									<li><a href="#"><i class="flaticon-scooter-front-view"></i><span class="nav-price">$00.00</span></a></li>
								</ul>
							</div>
-->
							<!-- nav-login -->
						
						</div>
					</div>
				</div>
			</div>
		</header> <!-- header -->

		<div class="banner slider1 new-block">
			<div class="fixed-bg" style="background: url('images/slider-bg1.jpg');"></div>
			<div class="slider owl-carousel owl-theme">
			    <div class="item">
			    	<div class="slider-block slide1 new-block">
			    		<div class="container-fluid">
				    		<div class="row">
				    			<div class="col-lg-6 col-md-6 col-sm-6">
				    				<div class="text-block">
				    					<div class="img-block ab1" data-animation-in="bounceInDown" data-animation-out="animate-out fadeOutRight">
				    						<img src="images/pizza.png" alt="" class="img-responsive">
				    					</div>
				    					<h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight">compras 1 llevas otra gratis!</h1>
				    					<div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
				    						<p class="text-stl2">Oferta exclusiva para pizzas familiares. Costo Combo + bebida : agregar $50. Delivery despues de las 22 horas: $50</p>
				    						<h2 class="text-stl3">{{$tel}}</h2>
				    						<div class="text-center">
					    						<a href="#" class="btn1 stl2">Mas detalles...</a>
					    						<a href="#" class="btn1 stl1">Agregar al pedido</a>
				    						</div>
				    					</div>
				    				</div>
				    			</div>
				    			<div class="col-lg-6 col-md-6 col-sm-6">
				    				<div class="img-block img2">
				    					<div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
				    						<img src="images/pz.png" alt="" class="img-responsive">
				    					</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
				    </div><!-- .slider-block -->
				</div>
				<div class="item">
			    	<div class="slider-block slide1 new-block">
			    		<div class="container-fluid">
				    		<div class="row">
				    			<div class="col-lg-6 col-md-6 col-sm-6">
				    				<div class="text-block">
				    					<div class="img-block ab1" data-animation-in="bounceInDown" data-animation-out="animate-out fadeOutRight">
				    						<img src="images/pizza.png" alt="" class="img-responsive">
				    					</div>
				    					<h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight">Capparelli Ofertón = $199</h1>
				    					<div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
				    						<p class="text-stl2">Llevate un combo de una pizza familiar gigante + bebida. Envios gratis hasta las 22 horas.</p>
				    						<h2 class="text-stl3">{{$tel}}</h2>
				    						<div class="text-center">
					    						<a href="#" class="btn1 stl2">Detalles...</a>
					    						<a href="#" class="btn1 stl1">Agregar al pedido</a>
				    						</div>
				    					</div>
				    				</div>
				    			</div>
				    			<div class="col-lg-6 col-md-6 col-sm-6">
				    				<div class="img-block img2">
				    					<div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
				    						<img src="images/p-img12.png" alt="" class="img-responsive">
				    					</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
				    </div><!-- .slider-block -->
				</div>
			</div>
		</div><!-- banner -->
		
				
		<section class="cat-sec new-block">
			<div class="container-fluid pd0">
				<div class="cat-block">
					<div class="block-stl1 bg1">
						<span class="flaticon-pepperoni"></span>
						<h4>Queso <br/>y pepperoni</h4>
					</div>
				</div>
				<div class="cat-block">
					<div class="block-stl1 bg2">
						<span class="flaticon-ham"></span>
						<h4>Jamón <br/>y palmitos</h4>
					</div>
				</div>
				<div class="cat-block">
					<div class="block-stl1 bg3">
						<span class="flaticon-pineapple"></span>
						<h4>Hawaiana<br/>(con piña)</h4>
					</div>
				</div>
				<div class="cat-block">
					<div class="block-stl1 bg4">
						<span class="flaticon-chicken"></span>
						<h4>Pollo <br/>y salsa blanca</h4>
					</div>
				</div>
				<div class="cat-block">
					<div class="block-stl1 bg5">
						<span class="flaticon-bacon"></span>
						<h4>Jamón <br/>y panceta</h4>
					</div>
				</div>
				<div class="cat-block">
					<div class="block-stl1 bg6">
						<span class="flaticon-fish"></span>
						<h4>Napolitana<br/>con anchoas</h4>
					</div>
				</div>
				<div class="cat-block">
					<div class="block-stl1 bg7">
						<span class="flaticon-pizza"></span>
						<h4>4 quesos<br/>(bien gustosa!)</h4>
					</div>
				</div>
			</div>
		</section>


	{{ partial "special-offers" . }} 


<!--
	{{ partial "combo-packs" . }} 
-->

<!--
	{{ partial "deal-of-the-day" . }} 
-->


<!--
	{{ partial "amazing-offers" . }} 
-->



<!--
	{{ partial "this-month" . }} 
-->

<!-- 
	{{ partial "this-month-blog" . }} 
-->


		<footer class="main-footer new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="footer-head">
							<h3>About Us :</h3>
						</div>
						<div class="footer-content">
							<p>Donec tincidunt, augue a convallis cursus, sapien eros efficitur sem in placerat sapien est nec quam.</p>
							<a href="#" class="link">Read More</a>
							<ul class="list-unstyled card-block">
								<li><a href="#"><img src="images/crt1.png" alt=""></a></li>
								<li><a href="#"><img src="images/crt2.png" alt=""></a></li>
								<li><a href="#"><img src="images/crt3.png" alt=""></a></li>
								<li><a href="#"><img src="images/crt4.png" alt=""></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
						<div class="our-company">
							<div class="footer-head">
								<h3>Our Company :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#">New In</a></li>
									<li><a href="#">Pizza murgon</a></li>
									<li><a href="#">Burger king</a></li>
									<li><a href="#">Fried Chicken</a></li>
									<li><a href="#">Mocktail</a></li>
									<li><a href="#">Top Brands</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<div class="footer-head">
							<h3>Customer Care :</h3>
						</div>
						<div class="footer-content">
							<ul class="list-unstyled">
								<li><a href="#">New In</a></li>
								<li><a href="#">Pizza murgon</a></li>
								<li><a href="#">Burger king</a></li>
								<li><a href="#">Fried Chicken</a></li>
								<li><a href="#">Mocktail</a></li>
								<li><a href="#">Top Brands</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="flickr">
							<div class="footer-head">
								<h3>Get Flickr :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#"><img src="images/Layer-12.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="images/Layer-13.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="images/Layer-14.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="images/Layer-15.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="images/Layer-16.png" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="images/Layer-17.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="images/Layer-18.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="images/Layer-19.jpg" alt="" class="img-responsive"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copy-right">
			<div class="container">
				<p><a href="#">Domnoo</a> - All Rights Reserved Design</p>
				<ul class="social-nav">
					<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-twitter"></i></a></li>
					<li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-behance"></i></a></li>
				</ul>
			</div>
		</div>
		<span id="go_to_top" class="go-to-top"><i class="flaticon-up-arrow"></i></span>
<!--
	{{ partial "color-pick" . }} 
-->



	</div><!-- #wrapper -->

	{{ partial "jquery" . }} 

</body>
</html>