	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/10/2018 20:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-pepperoni:before { content: "\f100"; }
.flaticon-ham:before { content: "\f101"; }
.flaticon-pineapple:before { content: "\f102"; }
.flaticon-chicken:before { content: "\f103"; }
.flaticon-bacon:before { content: "\f104"; }
.flaticon-fish:before { content: "\f105"; }
.flaticon-pizza:before { content: "\f106"; }
.flaticon-breakfast:before { content: "\f107"; }
.flaticon-fish-1:before { content: "\f108"; }